.home {
	background-image: url(../../assets/icons/kids+.jpg);
	height: 60rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	border-radius: 50%;
	margin-top: 25vh;
}

