.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background: #dfd4cc;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	font-family:serif;
	float: left;
	border: solid #5c5551;
	background: rgba(95, 70, 77, 0.2);
	border-radius: 1.875rem;
	margin-left: 1rem;
	margin-top: .75rem;
	padding: .25rem 1rem;
	font-size: 1.25rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
}

.header nav {
	margin-right: 2rem;
	margin-top: 1.25rem;
	float: right;
	font-size: .9rem;
}

.header nav a {
	display: inline-block;
	height: 1rem;
	padding: 0 0.9375rem;
	min-width: 3.125rem;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: rgb(0, 0, 0);
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(30, 97, 17, 0.2);
}

.header nav a.active {
	color: #5c5551;
	text-decoration: underline;
}
