html {
	height: 100%;
	background: #f0e7e1;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
}
body {
	min-height: 98%;
	background-image: url(../assets/icons/kids+.jpg);
	height: auto;
	max-width: 100%;
	display: grid;
	background-repeat: no-repeat;
}

#app {
	height: 100%;
}