html, body {
	background: #f0e7e1;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	background-image: url(../assets/icons/entry.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 95vh;
}

@media screen and (max-width: 730px) {
	#app {
		background-image: url(../assets/icons/entrySM.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}	
