

.logo {
	display: flex;
	justify-content: center;
}

.logo img {
    position: absolute;
    left: auto;
    right: auto;
	border-radius: 50%;
	margin-top: 25vh;
    height: 30rem;
    width: 30rem;
}

.msg {
    width: 100vw;
    font-family:serif;
    text-align:center;
    background-color: #f0e7e1;
    position: fixed;
    top: 92vh;
}