.about{
    padding: 12vh 10vw;
}
.aboutMission {
    padding-left: 20vw;
    display: inline;
}
.aboutFounders{
    display: inline;
}
.aboutFounders img {
    height: 450px;
    width: 335px;
    float: left;
}